<form action="/words/:id/new/" method="post">
  <label for="definition">Enter Definition: </label>
  <input type="text" name="definition" id="definition">
  <button type="submit">Submit</button>
</form>
