
<div class="container-index">
  <h2>store your vocabulary here</h2>
    <% if @words.any? %>
      <a class="btn btn-primary" href="/words/">View Dictionary</a>
    <% end %>
    <a id='add word' class="btn btn-primary" href="/words/new/"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
</div>
