<!DOCTYPE html>
<html>
  <head lang="en">
    <title>Dictionary</title>
      <h1><a href="/"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></a></span></h1>
      <hr>
      <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet'>
      <link href='/main.css' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="container row txt-center">
      <%= yield %>
    </div>
    <hr>
  </body>

  <footer>
  

  </footer>
</html>
