<!DOCTYPE html>
<html>
  <head lang="en">
    <title>Dictionary</title>
        <h1>dictionary</h1>
        <hr>
      <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet'>
      <link href='/main.css' rel='stylesheet' type='text/css'>
    </head>
<body>
  <div class="container row txt-center">
    <%= yield %>
  </div>
  <hr>
  <div class="row txt-center">
    <div class="btn btn-success">
      <a href="/">Home</a>
    </div>
  </div>
</body>
</html>
