<!DOCTYPE html>
<html>
  <head lang="en">
    <title>Dictionary</title>
      <h1><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span></h1>
      <hr>
      <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet'>
      <link href='/main.css' rel='stylesheet' type='text/css'>
  </head>
  
<body>
  <div class="container row txt-center">
    <%= yield %>
  </div>
  <hr>
  <div class="button-definition">
    <div class="btn btn-success">
      <a href="/"><span style="color:black" class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
    </div>
  </div>
</body>
</html>
