<form action="/words/new/" method="post">
  <div class="container-form"
    <label class="label-text" for="word">Enter Word:</label>
    <input type="text" name="word" id="word">
    <input id='Submit'class="btn btn-submit" type="submit"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button>
  </div>
</form>
