<h2><%=@word.word()%></h2>
<a href="/words/<%= @word.id()%>/new/">Add Definition</a>
<br><% if @word.definitions.any? %>
<br><% @word.definitions.each() do |definition| %>
  <%= definition.definition() %>
  <% end %>
  <% end%>
